body{
    background-color: black;
}
#name, #age{
    background-color: grey;
    display: flex;
    text-align: center;
    margin: auto;
}
#addItem, #print{
    display: flex;
    text-align: center;
    margin: auto;
}